@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0%, 100% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    top: 100%;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

.animate-scan {
  animation: scan 3s linear infinite;
}
